body
{background-color: rgb(223, 212, 213);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
  color:crimson;
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
  text-align: left;
}
li:first-letter{
  text-transform: uppercase;
}

.container{
  max-width: 600px;
  margin: 20px auto;


}
.weather-app { 
  padding: 10px;
  border: 1px solid #dadde1;
  border-radius: 18px;
  background-color: rgb(227, 230, 234);
}
.weather-app strong{
  color: rbg(33,33,33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;

h1{
  display: block;
  color: darkmagenta;
  font-weight: 100;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}
.weather-temperature .units{
  position: relative;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;}
  